.container {
  display: flex;
  align-items: center;
  border: 2px solid var(--deep-gray);
  padding: 5px 20px 5px 5px;
  border-radius: 10px;
  flex-wrap: nowrap;
  min-width: 12rem;
  margin: 0.5rem;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-focus-icon-color: var(--green);
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: var(--green);
  --mdc-radio-selected-hover-icon-color: var(--green);
  --mdc-radio-selected-icon-color: var(--green);
  --mdc-radio-selected-pressed-icon-color: var(--green);
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: var(--green);
}

.container-clicked {
  display: flex;
  align-items: center;
  border: 2px solid var(--green);
  padding: 5px 20px 5px 5px;
  margin: 0.5rem;
  border-radius: 10px;
  flex-wrap: nowrap;
  min-width: 12rem;
  background: rgba(113, 175, 145, 0.1);
}

.mat-mdc-button.mat-primary {
  --mdc-text-button-label-text-color: var(--green);
}

.custom-mat-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
  border-bottom: 1.1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-mat-input-container:hover {
  border-color: rgba(0, 0, 0, 0.87);
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px 10px 0 0;
}

.custom-mat-input-container:focus-within {
  border-bottom: 2px solid rgba(0, 0, 0, 0.55);
  border-color: #3f51b5;
}

.custom-mat-input {
  width: 20rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}

.custom-mat-input::placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  font-weight: 400;
}
